.header {
  background-color: #98a6e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  color: rgb(255, 255, 255);
}

.header-title {
  font-size: 42px;
  font-weight: bold;
}

.header-logo {
  width: 100px; 
  height: auto;
}

.header-logo img {
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .header-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-nav {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the content stretches to at least the full viewport height */
}

footer {  
  margin: auto;
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  left: 0;
  top: 100%; /* Place the dropdown content below the dropdown button */
  background-color: #4e3737;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  display: flex;
  flex-direction: column; /* Display dropdown items in a column */
}

.dropdown:hover > .dropdown-content {
  opacity: 1;
}

.dropbtn {
  background-color: #4CAF50; 
  color: white; /* White text color */
  padding: 12px; /* Padding */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  cursor: pointer; /* Cursor style */
}

.dropbtn:hover {
  background-color: #45a049; /* Darker green hover color */
}

.dropbtn:focus {
  outline: none; /* Remove outline */
}

.dropbtn:active {
  background-color: #3e8e41; /* Active color */
}
